﻿table img {
    max-width: 100px;
}

table table a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

    table table a:hover {
        text-decoration: none;
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd;
    }

table table span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
}

#imgPreview, #imgThumbnail {
    display: block;
    margin: 10px 0;
    max-width: 70%;
}

#imgBanner {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #pgAdmin_udpBanner .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}

.popupBanner img {
    max-width: 250px;
    max-height: 250px;
}
